/* =========================
   GLOBAL STYLES
========================= */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Poppins",sans-serif;
}

:root{
  --primary:#05668d;
  --secondary:#ef233c;

  --bg:#ffffff;
  --text:#111111;
  --card:#f5f5f5;
  --header:#ffffff;
  --footer:#f5f5f5;
}

body.dark{
  --bg:#0f172a;
  --text:#f8fafc;
  --card:#1e293b;
  --header:#111827;
  --footer:#111827;
}

/* BODY */

body{
  background:var(--bg);
  color:var(--text);
  overflow-x:hidden;
  transition:0.4s ease;
}

/* HEADER */

body.dark header{
  background:var(--header);
  box-shadow:0 2px 10px rgba(255,255,255,0.05);
}

/* NAVIGATION */
body.dark .navbar a{
  color:var(--primary);
}

body.dark .footer_logo a{
  color:var(--primary);
}

body.dark .navbar span,
body.dark .footer_logo span{
  color:var(--secondary);
}

body.dark nav ul li a{
  color:white;
}

body.dark nav ul li a:hover{
  color:var(--secondary);
}

body.dark .dropdown_content{
  background:#1e293b;
}

body.dark .dropdown_content a{
  color:white;
}

body.dark .dropdown_content a:hover{
  background:#334155;
}

/* BUTTONS */

body.dark .icon_btn{
  background:#334155;
  color:white;
}
body.dark .icon_btn:hover{
  background: var(--secondary);
}

body.dark .login{
  background:var(--secondary);
}

/* SERVICES */

body.dark .cards{
  background:var(--card);
}

body.dark .cards p{
  color:#e2e8f0;
}

/* ABOUT */

body.dark .about_content p{
  color:#e2e8f0;
}

/* WHY CHOOSE US */

body.dark .why_card{
  background:var(--card);
}

body.dark .why_content p,
body.dark .why_card p{
  color:#e2e8f0;
}

/* TESTIMONIALS */

body.dark .testimonials{
  background:var(--bg);
}

body.dark .testimonial_card{
  background:var(--card);
}

body.dark .testimonial_card p{
  color:#e2e8f0;
}

body.dark .testimonials_content p{
  color:#e2e8f0;
}

/* FOOTER */

body.dark .footer{
  background:var(--footer);
}

body.dark .footer_box p,
body.dark .footer_box1 a,
body.dark .footer_bottom,
body.dark .footer_legal a{
  color:#e2e8f0;
}
body.dark .footer_box1 a:hover,
body.dark .footer_legal a:hover{
  color: var(--secondary);
}
body.dark .footer_bottom{
  border-top:1px solid #334155;
}
body.dark .social_icons a{
  color:white;
}
body.dark .social_icons a:hover{
  color: var(--secondary);
}

/* GLOBAL TEXT */

body.dark p,
body.dark span,
body.dark li{
  color:#e2e8f0;
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6{
  color:white;
}
/* HOME2 DARK MODE */

body.dark .numbers,
body.dark .team_section{
    background:#0f172a;
}

body.dark .feature_content h2,
body.dark .zigzag_content h1,
body.dark .contact_left h1,
body.dark .section_title h1{
    color:white;
}

body.dark .number_box p{
    color:#e2e8f0;
}

body.dark .gallery_grid img,
body.dark .feature_box img,
body.dark .team_box img,
body.dark .contact_right img,
body.dark .zigzag_image img{
    box-shadow:0 5px 20px rgba(0,0,0,.4);
}

body.dark .floating_card{
    background:rgba(30,41,59,.8);
    border:1px solid rgba(255,255,255,.1);
}

body.dark .hero_para,
body.dark .feature_content p,
body.dark .zigzag_content p,
body.dark .contact_left p{
    color:#e2e8f0;
}

html{
  scroll-behavior:smooth;
}
section{
  width:100%;
  padding:100px 90px;
}

img{
  width:100%;
  display:block;
}
/* RTL SUPPORT */

html[dir="rtl"] body{
    direction:rtl;
}

html[dir="rtl"] .navbar,
html[dir="rtl"] .header_icons,
html[dir="rtl"] nav ul,
html[dir="rtl"] .footer_logo,
html[dir="rtl"] .social_icons{
    flex-direction:row-reverse;
}

html[dir="rtl"] .feature_box,
html[dir="rtl"] .zigzag_section,
html[dir="rtl"] .contact_section{
    flex-direction:row-reverse;
}

html[dir="rtl"] .hero_content{
    text-align:right;
}

html[dir="rtl"] .footer_content{
    text-align:right;
}

html[dir="rtl"] .dropdown_content{
    left:auto;
    right:0;
}

/* =========================
   HEADER
========================= */

header{
  width:100%;
  height:75px;
  background:whitesmoke;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:0 8%;

  position:sticky;
  top:0;
  z-index:1000;
}

/* LOGO */

.navbar{
  display:flex;
  align-items:center;
  gap:10px;
}

.navbar img{
  width:50px;
  height:50px;
}

.navbar a{
  text-decoration:none;
  font-size:28px;
  font-weight:600;
  color:var(--primary);
}

.navbar span{
  color:var(--secondary);
}

/* NAVIGATION */

nav ul{
  display:flex;
  align-items:center;
  list-style:none;
  gap:30px;
}

nav ul li{
  position:relative;
}

nav ul li a{
  text-decoration:none;
  color:var(--primary);
  font-weight:500;
  transition:0.3s;
}

nav ul li a:hover{
  color:var(--secondary);
}

/* DROPDOWN */

.dropdown{
  position:relative;
}

.drop_btn{
  display:flex;
  align-items:center;
  gap:5px;
}

.dropdown_content{
  position:absolute;
  top:40px;
  left:0;

  width:180px;

  background:white;
  border-radius:12px;

  overflow:hidden;

  box-shadow:0 10px 25px rgba(0,0,0,0.12);

  opacity:0;
  visibility:hidden;

  transform:translateY(10px);

  transition:0.3s ease;
}

.dropdown:hover .dropdown_content{
  opacity:1;
  visibility:visible;
  transform:translateY(0);
}

.dropdown_content li{
  width:100%;
}

.dropdown_content a{
  display:block;
  padding:14px 18px;
  color:var(--primary);
  transition:0.3s;
}

.dropdown_content a:hover{
  background:whitesmoke;
  padding-left:24px;
}

/* HEADER ICONS */

.header_icons{
  display:flex;
  align-items:center;
  gap:12px;
}

.icon_btn{
  width:42px;
  height:42px;

  border:none;
  border-radius:10px;

  background:white;
  color:var(--primary);

  font-weight:600;
  cursor:pointer;

  transition:0.3s;
}

.icon_btn:hover{
  background:var(--secondary);
  color:white;
  transform:scale(1.05);
}

.login{
  width:90px;
  height:42px;

  border:none;
  border-radius:8px;

  background:var(--secondary);
  color:white;

  font-weight:600;
  cursor:pointer;

  transition:0.3s;
}

.login:hover{
  transform:scale(1.05);
}
/* HAMBURGER */

.hamburger{
  display:none;
  font-size:30px;
  cursor:pointer;
  color:var(--primary);
}

.close-menu{
    display:none;

    position:absolute;
    top:15px;
    right:15px;

    width:40px;
    height:40px;

    border-radius:50%;

    background:var(--secondary);
    color:white;

    align-items:center;
    justify-content:center;

    font-size:18px;
    font-weight:700;
    line-height:1;

    cursor:pointer;

    z-index:1100;
}

body.dark .close-menu{
  color:white;
}

/* DARK MODE */

body.dark .hamburger,
body.dark .close-menu{
  color:white;
}

/* =========================
   HERO SECTION
========================= */

.hero{
  width:100%;
  min-height:90vh;

  position:relative;

  display:flex;
  align-items:center;

  padding:0 8%;

  background-image:url(images/img-1.jpg);
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
}

.overlay{
  position:absolute;
  inset:0;

  background:rgba(0,0,0,0.65);
}

.hero_content{
  position:relative;
  z-index:2;

  max-width:700px;

  color:white;
}

.hero_content span{
  color:var(--secondary);
}

.hero_content h1{
  font-size:68px;
  line-height:1.2;
  margin-bottom:24px;
}

.hero_content p{
  font-size:18px;
  line-height:1.9;
  margin-bottom:35px;
}

.hero_button{
  display:flex;
  align-items:center;
  gap:20px;
}

.hero_button button{
  padding:14px 32px;

  border-radius:10px;

  font-weight:600;

  cursor:pointer;

  transition:0.3s;
}

.lm{
  border:none;
  background:var(--secondary);
  color:white;
}

.lm:hover{
  transform:translateY(-5px);
}

.bn{
  background:transparent;
  border:1px solid var(--secondary);
  color:var(--secondary);
}

.bn:hover{
  background:var(--secondary);
  color:white;
  transform:translateY(-5px);
}

/* =========================
   SERVICES
========================= */

.services{
  text-align:center;
}

.services_content h1{
  color:var(--primary);
  font-size:48px;
  margin-bottom:18px;
}

.services_content p{
  max-width:750px;
  margin:auto;
  line-height:1.9;
  color:black;
}

.services_card{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:35px;

  margin-top:60px;
}

.cards{
  background:whitesmoke;

  padding:22px;

  border-radius:22px;

  overflow:hidden;

  transition:0.3s;

  box-shadow:0 5px 20px rgba(0,0,0,0.08);
}

.cards:hover{
  transform:translateY(-10px);
}

.cards img{
  height:240px;
  object-fit:cover;
  border-radius:14px;
}

.cards h3{
  color:var(--primary);
  margin:22px 0 12px;
}

.cards p{
  line-height:1.8;
  color:black;
}

.bm{
  margin-top:20px;

  padding:12px 24px;

  border:none;
  border-radius:10px;

  background:var(--secondary);

  color:white;

  font-weight:600;

  cursor:pointer;

  transition:0.3s;
}

.bm:hover{
  transform:translateY(-5px);
}

/* =========================
   ABOUT SECTION
========================= */

.about{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:70px;
  align-items:center;
}

.about_image img{
  height:650px;
  object-fit:cover;
  border-radius:24px;
}

.about_content h3{
  color:var(--secondary);
  margin-bottom:12px;
}

.about_content h1{
  color:var(--primary);
  font-size:48px;
  margin-bottom:24px;
  line-height:1.3;
}

.about_content p{
  line-height:1.9;
  margin-bottom:20px;
  color:black;
}

.ab{
  padding:14px 30px;

  border:none;
  border-radius:10px;

  background:var(--secondary);

  color:white;

  font-weight:600;

  cursor:pointer;

  transition:0.3s;
}

.ab:hover{
  transform:translateY(-5px);
}

/* =========================
   WHY SECTION
========================= */

.why{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:70px;
  align-items:center;
}

.why_content h3{
  color:var(--secondary);
  margin-bottom:12px;
}

.why_content h1{
  color:var(--primary);
  font-size:48px;
  margin-bottom:20px;
}

.why_content p{
  line-height:1.9;
  margin-bottom:35px;
  color:black;
}

.why_cards{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:25px;
}

.why_card{
  background:whitesmoke;

  padding:28px;

  border-radius:20px;

  transition:0.3s;

  box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

.why_card:hover{
  transform:translateY(-8px);
}

.why_card h3{
  display:flex;
  align-items:center;
  gap:10px;

  color:var(--primary);

  margin-bottom:12px;
}

.why_card p{
  margin:0;
  line-height:1.8;
}

.why_card svg{
  color:var(--secondary);
}

.why_image img{
  height:700px;
  object-fit:cover;
  border-radius:24px;
}

/* =========================
   TESTIMONIALS
========================= */

.testimonials{
  background:white;
  text-align:center;
}

.testimonials_content h1{
  color:var(--secondary);
  font-size:22px;
  margin-bottom:10px;
}

.testimonials_content h2{
  color:var(--primary);
  font-size:48px;
  margin-bottom:18px;
}

.testimonials_content p{
  max-width:700px;
  margin:auto auto 60px;
  line-height:1.9;
  color:black;
}

.testimonial_cards{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:30px;
}

.testimonial_card{
  background:white;

  padding:40px 30px;

  border-radius:22px;

  transition:0.3s;

  box-shadow:0 5px 20px rgba(0,0,0,0.08);
}

.testimonial_card:hover{
  transform:translateY(-10px);
}

.testimonial_card img{
  width:90px;
  height:90px;

  object-fit:cover;

  border-radius:50%;

  margin:0 auto 18px;

  border:3px solid var(--primary);
}

.testimonial_card h3{
  color:var(--primary);
  margin-bottom:5px;
}

.testimonial_card h4{
  color:var(--secondary);
  margin-bottom:15px;
}

.testimonial_card p{
  line-height:1.8;
  color:black;
}

/* =========================
   FOOTER
========================= */

.footer{
  width:100%;
  background:whitesmoke;
  padding:80px 8% 20px;
}

.footer_content{
  display:grid;
  grid-template-columns:1.5fr 1fr 1fr 1fr;
  gap:50px;
  margin-bottom:50px;
}

.footer_box,
.footer_box1{
  display:flex;
  flex-direction:column;
  margin-right: 25px;
}
.em{ 
    white-space: nowrap;
}
.footer_logo{
  display:flex;
  align-items:center;
  gap:12px;
  margin-bottom:20px;
}

.footer_logo img{
  width:50px;
  height:50px;
  object-fit:cover;
}

.footer_logo a{
  text-decoration:none;
  font-size:28px;
  font-weight:600;
  line-height:1;
  color:var(--primary);
}

.footer_logo span{
  color:var(--secondary);
}

.footer_box p{
  color:black;
  line-height:1.8;
  margin-bottom:15px;
}

.footer_box h3,
.footer_box1 h3{
  color:var(--primary);
  font-size:22px;
  margin-bottom:20px;
}

.footer_box1 a{
  text-decoration:none;
  color:black;
  margin-bottom:12px;
  transition:.3s;
}

.footer_box1 a:hover{
  color:var(--secondary);
  padding-left:5px;
}

.social_icons{
  display:flex;
  gap:50px;
  margin-top:20px;
}

.social_icons a{
  color:var(--primary);
  transition:.3s;
}

.social_icons a:hover{
  color:var(--secondary);
  transform:translateY(-5px);
}

.footer_bottom{
  border-top:1px solid black;
  padding-top:25px;

  display:flex;
  justify-content:space-between;
  align-items:center;

  flex-wrap:wrap;
  gap:20px;

  color:black;
}

.footer_legal{
  display:flex;
  gap:20px;
  list-style:none;
}

.footer_legal a{
  text-decoration:none;
  color:black;
  transition:.3s;
}

.footer_legal a:hover{
  color:var(--secondary);
}

@media(max-width:480px){

section{
  padding:70px 20px;
}

header{
    height:70px;
    padding:0 10px;
}

.navbar{
  gap:5px;
}

.navbar img{
  width:35px;
  height:35px;
}

.navbar a{
  font-size:16px;
}
.header_icons{
    display:flex;
    align-items:center;
    gap:4px;
}

.icon_btn{
    width:28px;
    height:28px;
    font-size:10px;
}
.hero{
  min-height:80vh;
}

.hero_content h1{
  font-size:35px;
}

.hero_content p{
  font-size:15px;
}

.hero_button{
  flex-direction:column;
  align-items:flex-start;
}

.services_card,
.about,
.why,
.testimonial_cards,
.footer_content{
  grid-template-columns:1fr;
}

.about_image img,
.why_image img{
  height:auto;
}

.why_cards{
  grid-template-columns:1fr;
}

nav{
  position:fixed;
  top:0;
  right:-100%;

  width:280px;
  max-width:85%;

  height:100vh;

  background:var(--bg);

  transition:.4s ease;
  z-index:1000;

  overflow-y:auto;
}

  nav.active{
    right:0;
  }

  nav ul{
    flex-direction:column;
    align-items:flex-start;

    padding:90px 30px;
    gap:25px;
  }

  nav ul li{
    width:100%;
  }

  nav ul li a{
    font-size:18px;
    display:block;
    width:100%;
  }
.dropdown{
    width:100%;
  }

  .dropdown_content{
    position:static;
    width:100%;

    opacity:1;
    visibility:visible;

    transform:none;

    display:none;

    box-shadow:none;

    margin-top:10px;
  }

  .dropdown:hover .dropdown_content{
    display:block;
  }

.login{
  width:60px;
  height:30px;
  font-size:11px;
}

.hamburger{
    display:flex !important;
    align-items:center;
    justify-content:center;

    width:35px;
    height:35px;

    font-size:24px;
    color:var(--primary);

    cursor:pointer;

    flex-shrink:0;
}

.close-menu{
  display:flex;
}

.header_icons{
  gap:8px;
}

.icon_btn{
  width:38px;
  height:38px;
}


body.dark nav{
    background:#111827;
  }

  body.dark nav ul li a{
    color:white;
  }

  body.dark .dropdown_content{
    background:#1e293b;
  }
}


@media(min-width:481px) and (max-width:768px){

section{
  padding:80px 40px;
}

.hero_content h1{
  font-size:50px;
}

.services_card{
  grid-template-columns:1fr 1fr;
}

.about,
.why{
  grid-template-columns:1fr;
}

.testimonial_cards{
  grid-template-columns:1fr;
}

.footer_content{
  grid-template-columns:1fr 1fr;
}

  nav{
    position:fixed;
    top:0;
    right:-100%;

    width:300px;
    height:100vh;

    background:var(--bg);

    transition:.4s ease;
    z-index:1000;
  }

  nav.active{
    right:0;
  }

  nav ul{
    flex-direction:column;
    align-items:flex-start;

    padding:90px 30px;
    gap:25px;
  }

  nav ul li{
    width:100%;
  }

  nav ul li a{
    font-size:18px;
    display:block;
    width:100%;
  }
 .dropdown{
    width:100%;
  }

  .dropdown_content{
    position:static;
    width:100%;

    opacity:1;
    visibility:visible;

    transform:none;

    display:none;

    box-shadow:none;

    margin-top:10px;
  }

  .dropdown:hover .dropdown_content{
    display:block;
  }

.hamburger{
  display:block;
}

.close-menu{
  display:flex;
}
  

  body.dark nav{
    background:#111827;
  }

  body.dark nav ul li a{
    color:white;
  }

  body.dark .dropdown_content{
    background:#1e293b;
  }
}


@media(min-width:769px) and (max-width:1024px){

section{
  padding:90px 50px;
}
.hero_content h1{
  font-size:58px;
}

.services_card{
  grid-template-columns:repeat(2,1fr);
}

.about,
.why{
  grid-template-columns:1fr;
}

.footer_content{
  grid-template-columns:repeat(2,1fr);
}

nav{
    position:fixed;
    top:0;
    right:-100%;

    width:300px;
    height:100vh;

    background:var(--bg);

    transition:.4s ease;
    z-index:1000;
  }

  nav.active{
    right:0;
  }

  nav ul{
    flex-direction:column;
    align-items:flex-start;

    padding:90px 30px;
    gap:25px;
  }

  nav ul li{
    width:100%;
  }

  nav ul li a{
    font-size:18px;
    display:block;
    width:100%;
  }

  .dropdown{
    width:100%;
  }

  .dropdown_content{
    position:static;
    width:100%;

    opacity:1;
    visibility:visible;

    transform:none;

    display:none;

    box-shadow:none;

    margin-top:10px;
  }

  .dropdown:hover .dropdown_content{
    display:block;
  }

.hamburger{
  display:block;
}

.close-menu{
  display:flex;
}


  body.dark nav{
    background:#111827;
  }

  body.dark nav ul li a{
    color:white;
  }

  body.dark .dropdown_content{
    background:#1e293b;
  }
}