* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary: #05668d;
  --secondary: #ef233c;

  --bg: #ffffff; /* ADD THIS */
  --text: #111111;
  --card: #ffffff;
  --border: #ddd;
}
body.dark {
  --bg: #1e293b;
  --text: #f8fafc;
  --card: #1e293b;
  --border: #334155;
}
/* GLOBAL FIX */
html,
body {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--bg);
  color: var(--text);

  padding: 20px;
}

/* CONTAINER */
.login-container {
  width: 100%;
  max-width: 380px;
}

/* CARD */
.login-card {
  background: var(--card);
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.35);
}

/* TOP BUTTONS */
.theme-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 12px;
}

.theme-toggle,
.rtl-toggle {
  border: none;
  padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;
  background: var(--secondary);
  color: #fff;
}

/* LOGO */
.logo {
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.logo span:first-child {
  color: var(--primary);
}
.logo span:last-child {
  color: var(--secondary);
}

/* HEADER */
.login-header {
  text-align: center;
  margin-bottom: 20px;
}

.login-header p {
  opacity: 0.7;
}

/* FORM */
.form-group {
  margin-bottom: 12px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--border);
  background: transparent;
  color: var(--text);
}

/* OPTIONS */
.options {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  flex-wrap: wrap;
  gap: 10px;
}

/* BUTTON */
.login-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: var(--secondary);
  color: #fff;
  cursor: pointer;
}

/* DIVIDER */
.divider {
  text-align: center;
  margin: 15px 0;
}

/* SOCIAL */
.social-login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.social-btn {
  padding: 10px;
  border: 1px solid var(--border);
  background: transparent;
  border-radius: 10px;
}
body.dark .social-btn {
  color: white;
}
.forgot {
  text-decoration: none;
  color: var(--secondary);
}

/* SIGNUP */
.signup {
  text-align: center;
  margin-top: 15px;
}
.ca {
  text-decoration: none;
  color: var(--secondary);
}
/* RTL */
body.rtl {
  direction: rtl;
}

body.rtl .options {
  flex-direction: row-reverse;
}

/* RESPONSIVE */

/* Galaxy S8+ */
@media (max-width: 480px) {
  .login-card {
    width: 100%;
  }

  .social-login {
    grid-template-columns: 1fr;
  }
}

/* iPad Mini */
@media (max-width: 768px) {
  .login-card {
    max-width: 360px;
  }
}

/* iPad Pro */
@media (max-width: 1024px) {
  .login-card {
    max-width: 420px;
  }
}
