* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root{
  --primary:#05668d;
  --secondary:#ef233c;

  --bg:#ffffff;
  --text:#111111;
  --card:#f5f5f5;
  --header:#ffffff;
  --footer:#f5f5f5;
}

body.dark{
  --bg:#0f172a;
  --text:#f8fafc;
  --card:#1e293b;
  --header:#111827;
  --footer:#111827;
}

/* BODY */

body{
  background:var(--bg);
  color:var(--text);
  overflow-x:hidden;
  transition:0.4s ease;
}
/* =====================================
   DARK MODE
===================================== */

body.dark header{
  background:#111827;
}

body.dark nav ul li a{
  color:white;
}

body.dark nav ul li a:hover{
  color:var(--secondary);
}

body.dark .dropdown_content{
  background:#1e293b;
}

body.dark .dropdown_content a{
  color:white;
}

body.dark .dropdown_content a:hover{
  background:#334155;
}

body.dark .icon_btn{
  background:#334155;
  color:white;
}

body.dark .icon_btn:hover{
  background:var(--secondary);
}

body.dark .hero_content h1,
body.dark .hero_content p{
  color:white;
}

body.dark .plan_card{
  background:#1e293b;
  color:white;
}

body.dark .plan_card h3{
  color:#60a5fa;
}

body.dark .package_box{
  background:#1e293b;
  color:white;
}

body.dark .package_box h3{
  color:#60a5fa;
}

body.dark .time_box{
  background:#1e293b;
  color:white;
}

body.dark .time_box h3{
  color:#60a5fa;
}

body.dark .compare{
  background:#0f172a;
}

body.dark table{
  background:#1e293b;
  color:white;
}

body.dark td{
  border-color:#334155;
}

body.dark .faq_box{
  background:#1e293b;
  color:white;
}

body.dark .faq_box h4{
  color:#60a5fa;
}

body.dark .section_title h2{
  color:#60a5fa;
}

body.dark .section_title p{
  color:#cbd5e1;
}

body.dark .footer{
  background:#111827;
}

body.dark .footer_box p,
body.dark .footer_box1 a,
body.dark .footer_bottom,
body.dark .footer_legal a{
  color:#cbd5e1;
}

body.dark .footer_bottom{
  border-top:1px solid #334155;
}

body.dark .social_icons a{
  color:white;
}

body.dark .social_icons a:hover,
body.dark .footer_box1 a:hover,
body.dark .footer_legal a:hover{
  color:var(--secondary);
}

body.dark .navbar a,
body.dark .footer_logo a{
  color:var(--primary);
}

body.dark .navbar span,
body.dark .footer_logo span{
  color:var(--secondary);
}

/* =====================================
   RTL SUPPORT
===================================== */

html[dir="rtl"] body{
  direction:rtl;
}

/* Header */

html[dir="rtl"] .navbar,
html[dir="rtl"] .header_icons,
html[dir="rtl"] .footer_logo,
html[dir="rtl"] .social_icons{
  flex-direction:row-reverse;
}

html[dir="rtl"] nav ul{
  flex-direction:row-reverse;
}

/* Dropdown */

html[dir="rtl"] .drop_btn{
  flex-direction:row-reverse;
}

html[dir="rtl"] .dropdown_content{
  left:auto;
  right:0;
  text-align:right;
}

/* Hero */

html[dir="rtl"] .hero_content{
  text-align:center;
}

/* Pricing Cards */

html[dir="rtl"] .plan_card{
  text-align:right;
}

html[dir="rtl"] .plan_card ul{
  padding-right:0;
}

/* Photography Packages */

html[dir="rtl"] .package_box{
  text-align:right;
}

/* Timeline */

html[dir="rtl"] .timeline::before{
  right:50%;
  left:auto;
}

html[dir="rtl"] .left{
  margin-left:auto;
  margin-right:0;
}

html[dir="rtl"] .right{
  margin-right:auto;
  margin-left:0;
}

html[dir="rtl"] .time_box{
  text-align:right;
}

/* Table */

html[dir="rtl"] table{
  direction:rtl;
}

/* FAQ */

html[dir="rtl"] .faq_box{
  text-align:right;
}

/* CTA */

html[dir="rtl"] .cta{
  text-align:center;
}

/* Footer */

html[dir="rtl"] .footer_content{
  text-align:right;
}

html[dir="rtl"] .footer_bottom{
  flex-direction:row-reverse;
}

html[dir="rtl"] .footer_legal{
  flex-direction:row-reverse;
}

html[dir="rtl"] .footer_box1 a:hover{
  padding-right:5px;
  padding-left:0;
}

html {
  scroll-behavior: smooth;
}

section {
  width: 100%;
  padding: 100px 90px;
}

img {
  width: 100%;
  display: block;
}

header {
  width: 100%;
  height: 75px;
  background: whitesmoke;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 8%;

  position: sticky;
  top: 0;
  z-index: 1000;
}

/* LOGO */

.navbar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar img {
  width: 50px;
  height: 50px;
}

.navbar a {
  text-decoration: none;
  font-size: 28px;
  font-weight: 600;
  color: var(--primary);
}

.navbar span {
  color: var(--secondary);
}

/* NAVIGATION */

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
}

nav ul li {
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: var(--primary);
  font-weight: 500;
  transition: 0.3s;
}

nav ul li a:hover {
  color: var(--secondary);
}

/* DROPDOWN */

.dropdown {
  position: relative;
}

.drop_btn {
  display: flex;
  align-items: center;
  gap: 5px;
}

.dropdown_content {
  position: absolute;
  top: 40px;
  left: 0;

  width: 180px;

  background: #fff;
  border-radius: 12px;

  overflow: hidden;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);

  opacity: 0;
  visibility: hidden;

  transform: translateY(10px);

  transition: 0.3s ease;
}

.dropdown:hover .dropdown_content {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown_content li {
  width: 100%;
}

.dropdown_content a {
  display: block;
  padding: 14px 18px;
  color: var(--primary);
  transition: 0.3s;
}

.dropdown_content a:hover {
  background: #f3f7f3;
  padding-left: 24px;
}

/* HEADER ICONS */

.header_icons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon_btn {
  width: 42px;
  height: 42px;

  border: none;
  border-radius: 10px;

  background: #fff;
  color: var(--primary);

  font-weight: 600;
  cursor: pointer;

  transition: 0.3s;
}

.icon_btn:hover {
  background: var(--secondary);
  color: #fff;
  transform: scale(1.05);
}

.login {
  width: 90px;
  height: 42px;

  border: none;
  border-radius: 8px;

  background: var(--secondary);
  color: #fff;

  font-weight: 600;
  cursor: pointer;

  transition: 0.3s;
}

.login:hover {
  transform: scale(1.05);
}
/* HAMBURGER */

.hamburger{
  display:none;
  font-size:30px;
  cursor:pointer;
  color:var(--primary);
}

.close-menu{
    display:none;

    position:absolute;
    top:15px;
    right:15px;

    width:40px;
    height:40px;

    border-radius:50%;

    background:var(--secondary);
    color:white;

    align-items:center;
    justify-content:center;

    font-size:18px;
    font-weight:700;
    line-height:1;

    cursor:pointer;

    z-index:1100;
}

body.dark .close-menu{
  color:white;
}

/* DARK MODE */

body.dark .hamburger,
body.dark .close-menu{
  color:white;
}

/* HERO */

.hero {
  width: 100%;
  min-height: 90vh;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  padding: 0 8%;

  background-image: url(images/img-8.avif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  inset: 0;

  background: rgba(0, 0, 0, 0.6);
}

.hero_content {
  max-width: 700px;
  color: white;
  position: relative;
  z-index: 2;
}

.hero_content h1 {
  font-size: 65px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero_content p {
  font-size: 18px;
  line-height: 1.9;
  margin-bottom: 30px;
}

/* FEATURED PLANS */

.plan_wrapper{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
gap:35px;
}

.plan_card{
background:white;
padding:45px;
border-radius:25px;
box-shadow:0 15px 35px rgba(0,0,0,.08);
text-align:center;
position:relative;
transition:.4s;
}

.plan_card:hover{
transform:translateY(-15px);
}

.plan_card h3{
color:var(--primary);
font-size:28px;
margin-bottom:10px;
}

.price{
font-size:50px;
color:var(--secondary);
font-weight:700;
margin:20px 0;
}

.plan_card ul{
list-style:none;
margin:25px 0;
}

.plan_card ul li{
padding:10px 0;
}

.ribbon{
position:absolute;
top:20px;
right:-40px;
background:var(--secondary);
color:white;
padding:8px 45px;
transform:rotate(45deg);
font-size:14px;
font-weight:600;
}

.btn{
display:inline-block;
padding:14px 30px;
background:var(--secondary);
color:white;
text-decoration:none;
border-radius:8px;
transition:.3s;
font-weight: 600;
}

.btn:hover{
transform: translateY(-5px);
}

/* CATEGORY CARDS */

.package_grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
gap:30px;
}

.package_box{
background:whitesmoke;
color:black;
padding:40px;
border-radius:25px;
transition:.4s;
}

.package_box:hover{
transform:scale(1.03);
}

.package_box h3{
  color: var(--secondary);
font-size:28px;
margin-bottom:20px;
}

.package_box ul{
list-style:none;
}

.package_box ul li{
margin:12px 0;
}

/* TIMELINE PRICE */

.section_title{
text-align:center;
margin-bottom:60px;
}

.section_title h2{
font-size:42px;
color:var(--primary);
margin-bottom:15px;
}

.section_title p{
max-width:700px;
margin:auto;
line-height:1.8;
color:#555;
}
.timeline{
max-width:1000px;
margin:auto;
position:relative;
}

.timeline::before{
content:"";
position:absolute;
left:50%;
width:4px;
height:100%;
background:var(--secondary);
transform:translateX(-50%);
}

.time_box{
width:45%;
background:#f8f9fa;
padding:30px;
border-radius:20px;
margin-bottom:40px;
}

.left{
margin-right:auto;
}

.right{
margin-left:auto;
}

.time_box h3{
color:var(--primary);
margin-bottom:10px;
}

/* COMPARISON */

.compare{
background:#f8f9fa;
}

.compare_table{
overflow-x:auto;
}

table{
width:100%;
border-collapse:collapse;
background:white;
border-radius:20px;
overflow:hidden;
}

th{
background:var(--primary);
color:white;
padding:20px;
}

td{
padding:18px;
text-align:center;
border-bottom:1px solid #ddd;
}

/* FAQ */

.faq_grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:25px;
}

.faq_box{
background:white;
padding:30px;
border-radius:20px;
box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.faq_box h4{
color:var(--primary);
margin-bottom:10px;
}

/* CTA */

.cta{
background:linear-gradient(135deg,var(--primary),#078bbd);
text-align:center;
color:white;
}

.cta h2{
font-size:50px;
margin-bottom:20px;
}

.cta p{
max-width:700px;
margin:auto;
line-height:1.8;
margin-bottom:30px;
}

.cta a{
background:var(--secondary);
color:white;
padding:15px 35px;
text-decoration:none;
border-radius:8px;
font-weight:600;
}


.footer {
  width: 100%;
  background: whitesmoke;
  padding: 80px 8% 20px;
}

.footer_content {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  gap: 50px;
  margin-bottom: 50px;
}

.footer_box,
.footer_box1 {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}
.em {
  white-space: nowrap;
}

.footer_logo {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.footer_logo img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.footer_logo a {
  text-decoration: none;
  font-size: 28px;
  font-weight: 600;
  line-height: 1;
  color: var(--primary);
}

.footer_logo span {
  color: var(--secondary);
}

.footer_box p {
  color: black;
  line-height: 1.8;
  margin-bottom: 15px;
}

.footer_box h3,
.footer_box1 h3 {
  color: var(--primary);
  font-size: 22px;
  margin-bottom: 20px;
}

.footer_box1 a {
  text-decoration: none;
  color: black;
  margin-bottom: 12px;
  transition: 0.3s;
}

.footer_box1 a:hover {
  color: var(--secondary);
  padding-left: 5px;
}

.social_icons {
  display: flex;
  gap: 50px;
  margin-top: 20px;
}

.social_icons a {
  color: var(--primary);
  transition: 0.3s;
}

.social_icons a:hover {
  color: var(--secondary);
  transform: translateY(-5px);
}

.footer_bottom {
  border-top: 1px solid black;
  padding-top: 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;
  gap: 20px;

  color: black;
}

.footer_legal {
  display: flex;
  gap: 20px;
  list-style: none;
}

.footer_legal a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.footer_legal a:hover {
  color: var(--secondary);
}
/* ===========================
   MOBILE (Samsung Galaxy S8+)
=========================== */
/* Samsung Galaxy S8+ */
@media screen and (max-width:480px){

*{
    max-width:100%;
}

html,
body{
    overflow-x:hidden;
}

section{
    padding:70px 20px;
}

header{
    padding:0 12px;
}

.navbar img{
    width:40px;
    height:40px;
}

.navbar a{
    font-size:18px;
}

.icon_btn{
    width:32px;
    height:32px;
    font-size:10px;
}

.login{
    width:65px;
    height:32px;
    font-size:11px;
}

.hero_content h1{
    font-size:34px;
}

.hero_content p{
    font-size:14px;
}

.plan_wrapper{
    grid-template-columns:1fr;
}

.plan_card{
    padding:30px 20px;
}

.price{
    font-size:38px;
}

.ribbon{
    right:-30px;
    padding:6px 35px;
    font-size:12px;
}

.package_grid{
    grid-template-columns:1fr;
}

.package_box{
    padding:25px;
}

.timeline::before{
    display:none;
}

.time_box{
    width:100%;
    margin-bottom:20px;
}

.left,
.right{
    margin:0;
}

.section_title h2{
    font-size:30px;
}

.cta h2{
    font-size:34px;
}

.footer_content{
    grid-template-columns:1fr;
    gap:30px;
}

.footer_logo a{
    font-size:22px;
}

.social_icons{
    gap:20px;
    flex-wrap:wrap;
}

.footer_bottom{
    flex-direction:column;
    text-align:center;
}

.footer_legal{
    justify-content:center;
    flex-wrap:wrap;
}

.em{
    white-space:normal;
    word-break:break-word;
}

/* Mobile Menu */

nav{
    position:fixed;
    top:0;
    right:-100%;
    width:280px;
    height:100vh;
    background:var(--bg);
    transition:.4s ease;
    z-index:1000;
    overflow-y:auto;
}

nav.active{
    right:0;
}

nav ul{
    flex-direction:column;
    align-items:flex-start;
    padding:90px 25px;
    gap:20px;
}

.dropdown{
    width:100%;
}

.dropdown_content{
    position:static;
    width:100%;
    opacity:1;
    visibility:visible;
    transform:none;
    display:none;
    box-shadow:none;
    margin-top:10px;
}

.dropdown:hover .dropdown_content{
    display:block;
}

.hamburger{
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:24px;
}

.close-menu{
    display:flex;
}
}

/* ===========================
   TABLET (iPad Mini)
=========================== */
@media screen and (min-width:768px) and (max-width:1024px){

section{
    padding:80px 40px;
}

.hero_content h1{
    font-size:50px;
}

/* HAMBURGER MENU */
.hamburger{
    display:flex;
    align-items:center;
    justify-content:center;
}

.close-menu{
    display:flex;
}

nav{
    position:fixed;
    top:0;
    right:-100%;
    width:320px;
    height:100vh;
    background:var(--bg);
    transition:.4s;
    z-index:1000;
}

nav.active{
    right:0;
}

nav ul{
    flex-direction:column;
    align-items:flex-start;
    padding:90px 30px;
    gap:20px;
}

/* DROPDOWN */
.dropdown{
    width:100%;
}

.dropdown_content{
    position:static;
    width:100%;
    opacity:1;
    visibility:visible;
    transform:none;
    display:none;
    box-shadow:none;
}

.dropdown:hover .dropdown_content{
    display:block;
}

/* CONTENT */
.plan_wrapper{
    grid-template-columns:1fr 1fr;
}

.package_grid{
    grid-template-columns:1fr 1fr;
}

.faq_grid{
    grid-template-columns:1fr 1fr;
}

.time_box{
    width:47%;
}

.footer_content{
    grid-template-columns:1fr 1fr;
}
}

/* ===========================
   LARGE TABLET (iPad Pro)
=========================== */
@media screen and (min-width:1025px) and (max-width:1366px){

section{
    padding:90px 60px;
}

.hero_content h1{
    font-size:58px;
}

.plan_wrapper{
    grid-template-columns:repeat(3,1fr);
}

.package_grid{
    grid-template-columns:repeat(3,1fr);
}

.faq_grid{
    grid-template-columns:repeat(3,1fr);
}

.footer_content{
    grid-template-columns:1.5fr 1fr 1fr 1fr;
}

/* NORMAL DESKTOP MENU */
.hamburger{
    display:none;
}

.close-menu{
    display:none;
}

nav{
    position:static;
    width:auto;
    height:auto;
    background:none;
}
}